body { padding-top: 60px; }

.modal form { margin-bottom: 0; }

#dashboard .btn { float: right; }

#bookmarks code {
  display: block;
  background: none;
  border: none;
  padding: 4px;
  margin: 4px;
}
